body {
    padding-top: 65px;
    padding-bottom: 20px;
}

button{
    border-radius: 0 !important;
}

.ticket-details{
    height: 150px;
}

.ticket-details p{
    margin-top: -10px;
}

.ticket-details .price{
    font-weight: bold;
}

.ticket-buy-btn{
    margin-bottom: 20px;
}